#### Functions

In [1]:
import os
import pandas as pd
import freyja_tool
from IPython.display import display

data_path = "C:/Projects/FREYJA Demo/data/"

#### Profiling

In [ ]:
# Showcase d_ref
d_reference_path = os.path.join(data_path, "datalake/d_reference.csv")

d_reference = pd.read_csv(d_reference_path, encoding="latin1")
d_reference.head(10)

,neighborhood,avg_rental_price,gross_income,avg_age
0,Baro de Viver,532.12,11486.00,40.11
1,Can Baro,756.50,19899.00,44.48
2,Can Peguera,550.54,12330.50,44.36
3,Canyelles,742.36,17804.20,48.08
4,Ciutat Meridiana,525.70,10054.00,39.59
5,Diagonal Mar i el Front Maritim del Poblenou,1073.70,25008.29,39.70
6,el Baix Guinardo,823.69,21352.58,46.20
7,el Barri Gotic,946.26,16996.56,38.53
8,el Besos i el Maresme,710.43,13337.23,41.80
9,el Bon Pastor,685.44,15347.43,40.45

In [ ]:
# Generate profile for d_ref (CSV file) and showcase it

d_ref_profile = freyja.compute_profile(d_ref)

print("Dataset name:", d_ref_profile["dataset_name"].iloc[0])
print("Attribute name:", d_ref_profile["attribute_name"].iloc[0])
d_ref_profile

Profile created successfully
Dataset name: d_reference.csv
Attribute name: "neighborhood"

,val_pct_std,freq_word_soundex_containment,words_cnt_sd,len_avg_word,frequency_max,val_pct_max,last_word,constancy,first_word,entropy,...,val_pct_min,frequency_6qo,uniqueness,frequency_5qo,frequency_7qo,words_cnt_min,words_cnt_avg,frequency_sd,freq_word_containment,number_words
0,0.0,"[B631, C516, C512, C542, C335, D254, E412, E41...",1.772811,4,1.0,0.017857,vilapicina i la torre llobeta,0.017857,baro de viver,5.807355,...,0.017857,0.017857,1.0,0.017857,0.017857,1.0,3.0,0.0,"[baro de viver, can baro, can peguera, canyell...",168.0

In [ ]:
# Create profiles for an entire folder (i.e. data lake)
data_lake_path = os.path.join(data_path, "datalake") # About 50 MBs of data, takes about 20 seconds
compute_profiles_for_folder(data_lake_path, profiles_path)

Profiles created successfully

In [ ]:
# Showcase some of the new profiles
profile_names = ["d_1_profile.csv", "d_2_profile.csv", "d_3_profile.csv"]

for profile_name in profile_names:
    file_path = os.path.join(profiles_path, profile_name)
    profile = pd.read_csv(file_path, encoding="latin1", sep=";")
    print("Attributes of the data:", profile["attribute_name"].tolist())

    display(profile)

Attributes of the data: ['neighborhood']

,val_pct_std,freq_word_soundex_containment,words_cnt_sd,len_avg_word,frequency_max,val_pct_max,last_word,constancy,first_word,entropy,...,frequency_6qo,uniqueness,frequency_5qo,frequency_7qo,words_cnt_min,words_cnt_avg,frequency_sd,freq_word_containment,number_words,Unnamed: 36
0,0.0,"[B631, C516, C512, C542, C335, D254, E412, E41...",1.772811,4,1.0,0.017857,vilapicina i la torre llobeta,0.017857,baro de viver,5.807355,...,0.017857,1.0,0.017857,0.017857,1.0,3.0,0.0,"[baro de viver, can baro, can peguera, canyell...",168.0,NaN

Attributes of the data: ['neighborhood']

,val_pct_std,freq_word_soundex_containment,words_cnt_sd,len_avg_word,frequency_max,val_pct_max,last_word,constancy,first_word,entropy,...,frequency_6qo,uniqueness,frequency_5qo,frequency_7qo,words_cnt_min,words_cnt_avg,frequency_sd,freq_word_containment,number_words,Unnamed: 36
0,0.0,"[B631, C516, C512, C542, C335, D254, E412, E41...",1.772811,4,1.0,0.017857,vilapicina i la torre llobeta,0.017857,baro de viver,5.807355,...,0.017857,1.0,0.017857,0.017857,1.0,3.0,0.0,"[baro de viver, can baro, can peguera, canyell...",168.0,NaN

Attributes of the data: ['product_name', 'author', 'type']

,val_pct_std,freq_word_soundex_containment,words_cnt_sd,len_avg_word,frequency_max,val_pct_max,last_word,constancy,first_word,entropy,...,frequency_6qo,uniqueness,frequency_5qo,frequency_7qo,words_cnt_min,words_cnt_avg,frequency_sd,freq_word_containment,number_words,Unnamed: 36
0,0.000304,"[E416, E416, L253, C542, P630, H231, S532, C33...",0.821063,8,48.0,0.0048,whiteboard wireless technologies,0.0048,aggregate 24/365 communities,12.185956,...,0.0001,0.7824,0.0001,0.0001,1.0,3.0160,3.035678,"[el parc i la llacuna del poblenou, el barri g...",30160.0,NaN
1,0.000031,"[M244, A525, A553, C623, C623, D132, J525, M24...",0.226771,6,8.0,0.0008,zoe robertson,0.0008,aaron anderson,13.158342,...,0.0001,0.9407,0.0001,0.0001,2.0,2.0433,0.306830,"[michael williams, amy smith, amanda davis, ch...",20433.0,NaN
2,0.006690,"[B200, P535, F450, M223]",0.428475,4,2607.0,0.2607,painting,0.2607,book,1.999486,...,0.2491,0.0004,0.2491,0.2607,1.0,1.2423,66.895441,"[book, painting, film, music cd]",12423.0,NaN

#### Computing distances

In [ ]:
# Compute distances between two profiles that have the same data (i.e. differences equal 0)
profile_1 = os.path.join(profiles_path, "d_reference_profile.csv")
profile_2 = os.path.join(profiles_path, "d_1_profile.csv")
write_distance = "C:/Projects/FREYJA Demo/data"
distances = compute_distances_two_files(profile_1, profile_2, write_distance)

print("File name 1:", distances["dataset_name"].iloc[0], "||", "Attribute name 1:", distances["attribute_name"].iloc[0])
print("File name 2:", distances["dataset_name_2"].iloc[0], "||", "Attribute name 2:", distances["attribute_name_2"].iloc[0])

distances

Distances successfully computed
File name 1: d_reference.csv || Attribute name 1: "neighborhood"
File name 2: d_1.csv || Attribute name 2: "neighborhood"

,val_pct_std,freq_word_soundex_containment,words_cnt_sd,len_avg_word,dataset_name_2,frequency_max,attribute_name_2,val_pct_max,last_word,constancy,...,val_pct_min,frequency_6qo,uniqueness,frequency_5qo,frequency_7qo,words_cnt_min,words_cnt_avg,frequency_sd,freq_word_containment,number_words
0,0.0,1.0,0.0,0.0,d_1.csv,0.0,"""neighborhood""",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [30]:
# Compute distances between two profiles that DO NOT have the same data
profile_1 = os.path.join(profiles_path, "d_reference_profile.csv")
profile_2 = os.path.join(profiles_path, "d_3_profile.csv")
distances = compute_distances_two_files(profile_1, profile_2, data_path)

print("File name 1:", distances["dataset_name"].iloc[0], "||", "Attribute name 1:", distances["attribute_name"].iloc[0])
print("File name 2:", distances["dataset_name_2"].iloc[0], "||", "Attribute name 2:", distances["attribute_name_2"].iloc[0])

distances

Distances successfully computed
File name 1: d_reference.csv || Attribute name 1: "neighborhood"
File name 2: d_3.csv || Attribute name 2: "product_name"

,val_pct_std,freq_word_soundex_containment,words_cnt_sd,len_avg_word,dataset_name_2,frequency_max,attribute_name_2,val_pct_max,last_word,constancy,...,val_pct_min,frequency_6qo,uniqueness,frequency_5qo,frequency_7qo,words_cnt_min,words_cnt_avg,frequency_sd,freq_word_containment,number_words
0,-0.000304,0.5,-1.088507,-1.0,d_3.csv,0.563867,"""product_name""",0.013057,26.0,0.013057,...,0.017757,0.017757,0.2176,0.017757,0.017757,0.577350,-1.030659,0.540763,0.4,-1.030659
1,-0.000031,0.0,0.877966,0.0,d_3.csv,0.590729,"""author""",0.017057,25.0,0.017057,...,0.017757,0.017757,0.0593,0.017757,0.017757,-1.154701,0.064435,0.613181,0.0,0.064435
2,-0.006690,0.0,0.210541,1.0,d_3.csv,-1.154596,"""type""",-0.242843,25.0,-0.242843,...,-0.224443,-0.231243,0.9996,-0.231243,-0.242843,0.577350,0.966224,-1.153943,0.0,0.966224

In [26]:
# Compute distances between all profiles of a given folder
query_dataset = "d_reference.csv"
query_column = "neighborhood"
distances = compute_distances(query_dataset, query_column, profiles_path, data_path)

print(distances["dataset_name"].tolist())
print(distances["attribute_name"].tolist())

distances

Distances successfully computed
['d_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv', 'd_reference.csv']
['"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"', '"neighborhood"']

,val_pct_std,freq_word_soundex_containment,words_cnt_sd,len_avg_word,dataset_name_2,frequency_max,attribute_name_2,val_pct_max,last_word,constancy,...,val_pct_min,frequency_6qo,uniqueness,frequency_5qo,frequency_7qo,words_cnt_min,words_cnt_avg,frequency_sd,freq_word_containment,number_words
0,0.000000,0.0,0.000000,-3.0,AdventureWorks2014_currencyRate.csv,-13532.0,"""FromCurrencyCode""",-0.982143,29.0,-0.982143,...,-0.982143,-0.982143,0.999926,-0.982143,-0.982143,-1.0,-1.000000,0.000000,0.0,-13532.0
1,-0.023609,0.0,0.000000,-3.0,AdventureWorks2014_currencyRate.csv,-1097.0,"""ToCurrencyCode""",-0.063210,26.0,-0.063210,...,0.004260,-0.063210,0.998965,-0.063210,-0.063210,-1.0,-1.000000,-319.483448,0.0,-13532.0
2,0.000000,0.0,0.000000,-2.0,AdventureWorks2014_unitmeasure.csv,-1.0,"""UnitMeasureCode""",-0.008459,27.0,-0.008459,...,-0.008459,-0.008459,0.000000,-0.008459,-0.008459,-1.0,-1.000000,0.000000,0.0,-38.0
3,0.000000,0.0,-0.508242,-6.0,AdventureWorks2014_unitmeasure.csv,-1.0,"""Name""",-0.008459,27.0,-0.008459,...,-0.008459,-0.008459,0.000000,-0.008459,-0.008459,-1.0,-1.289474,0.000000,0.0,-49.0
4,0.000000,0.0,0.000000,-5.0,acquisitions.csv,-1.0,"""AcquisitionID""",0.016765,27.0,0.016765,...,0.016765,0.016765,0.000000,0.016765,0.016765,-1.0,-1.000000,0.000000,0.0,-916.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,-0.000013,0.0,-0.624531,-7.0,world-cities.csv,-7.0,"""name""",0.017553,24.0,0.017553,...,0.017814,0.017814,0.046833,0.017814,0.017814,-1.0,-1.271049,-0.304107,0.0,-29257.0
254,-0.012216,0.0,-0.459130,-6.0,world-cities.csv,-2699.0,"""country""",-0.099399,26.0,-0.099399,...,0.017814,0.015250,0.989400,0.016597,0.011862,-1.0,-1.202276,-281.191948,0.0,-27674.0
255,-0.001036,0.0,-0.605602,-7.0,world-cities.csv,-426.0,"""subcountry""",-0.000650,27.0,-0.000650,...,0.017814,0.017553,0.887349,0.017683,0.017249,-1.0,-1.339242,-23.842613,0.0,-30824.0
256,0.000000,0.0,-0.953064,-6.0,World_countries_env_vars.csv,-1.0,"""Country""",0.013742,26.0,0.013742,...,0.013742,0.013742,0.000000,0.013742,0.013742,-1.0,-1.510288,0.000000,0.0,-367.0
257,0.000000,0.0,0.000000,-10.0,World_countries_env_vars.csv,-1.0,"""cloudiness""",0.013742,29.0,0.013742,...,0.013742,0.013742,0.032922,0.013742,0.013742,-1.0,-1.000000,0.000000,0.0,-235.0

#### Quality assessment (with profiles)

In [27]:
# Predict quality between all atributes of a given folder, rank them and showcase the ranking
distances_path = "C:/Projects/FREYJA Demo/data/distances/"
k = 10
query_dataset = "d_reference.csv"
query_attribute = "neighborhood"
ranking = get_ranking(distances_path, k, query_dataset, query_attribute)

ranking[["predictions", "target_ds", "target_attr"]]

Ranking computed successfully

   predictions                     target_ds   target_attr
0     0.379450                       d_1.csv  neighborhood
1     0.379450                       d_2.csv  neighborhood
2     0.034486                       d_3.csv  product_name
3     0.000248  World_countries_env_vars.csv    cloudiness
4     0.000248                 directory.csv   PhoneNumber
5     0.000248            countries_data.csv          1996
6     0.000248            countries_data.csv          1995
7     0.000248            countries_data.csv          1994
8     0.000248            countries_data.csv          1993
9     0.000248            countries_data.csv          1992

#### Data augmentation

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score

def run_model(data):
    # Separate the features (X) and the target variable (y)
    X = data.drop(columns=['avg_rental_price', 'neighborhood'])  # features
    y = data['avg_rental_price']  # target variable

    # Split the data into training and test sets (80% train, 20% test)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

    # Initialize the model
    rf_model = RandomForestRegressor(n_estimators=50, random_state=0)

    # Perform cross-validation (using R-squared as the scoring metric)
    cv_scores = cross_val_score(rf_model, X, y, cv=3, scoring='neg_mean_squared_error')  # 5-fold cross-validation

    # Print cross-validation results
    print(f"Mean NEGATIVE Squared Error (CV): {cv_scores.mean()}")
    print(f"-----")

    # Train the model on the training data
    rf_model.fit(X_train, y_train)

    # Predict and evaluate
    y_pred = rf_model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    print(f'Mean Absolute Error: {mae}')
    print(f'Mean Squared Error: {mse}')
    print(f'R-squared: {r2}')

In [27]:
import pandas as pd

d_ref = pd.read_csv(d_reference_path, encoding="latin1")

run_model(d_ref)

Mean NEGATIVE Squared Error (CV): -14851.526472843036
-----
Mean Absolute Error: 60.202216666666665
Mean Squared Error: 5843.9772916633265
R-squared: 0.71887485257182

In [266]:
import pandas as pd

d_ref = pd.read_csv(d_reference_path, encoding="latin1")
d_1 = pd.read_csv( os.path.join(data_path, "datalake/d_1.csv"), encoding="latin1")

data_d_ref_d_1 = pd.merge(d_ref, d_1, on="neighborhood")

run_model(data_d_ref_d_1)

Mean NEGATIVE Squared Error (CV): -13843.839617151667
-----
Mean Absolute Error: 50.042916666666656
Mean Squared Error: 4601.057946009995
R-squared: 0.7786656195186022